<h2 mat-dialog-title>Change password</h2>

<mat-dialog-content class="mat-typography">
  <h3>Enter your current password to verify it's You</h3>

  <form action="" [formGroup]="passwordForm">
    
    <mat-form-field appearance="outline" >
      <mat-label>Current password</mat-label>
      <input matInput formControlName="currentPassword" />
      <mat-error *ngIf="passwordForm.controls['currentPassword'].invalid">
        This field is required
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field appearance="outline">
      <mat-label>New password</mat-label>
      <input matInput formControlName="newPassword" />
      <mat-error *ngIf="passwordForm.controls['currentPassword'].invalid">
        This field is required and the password must have a minimum of 6
        characters
      </mat-error>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close *ngIf="!loader">Cancel</button>

  <button
    *ngIf="!loader"
    mat-button
    (click)="updatePassword()"
    [disabled]="passwordForm.invalid"
  >
    Ok
  </button>

  <mat-spinner [diameter]="32" *ngIf="loader" style="margin: 0 auto;"></mat-spinner>
</mat-dialog-actions>